// JS Function expressed in Jade lang.
- var randVal = function(min,max){  
-   return Math.floor(Math.random() * (max - min + 1) + min);
- }

mixin cloud_1
  a-entity(collada-model="#cloud_1", scale="1 1 1", position="-#{randVal(1,128)} #{randVal(10,20)} #{randVal(1,128)}", rotation="0 0 0")

mixin cloud_2
  a-entity(collada-model="#cloud_2", scale="1 1 1", position="-#{randVal(1,128)} #{randVal(10,20)} #{randVal(1,128)}", rotation="0 0 0")

mixin cloud_3
  a-entity(collada-model="#cloud_3", scale="1 1 1", position="-#{randVal(1,128)} #{randVal(10,20)} #{randVal(1,128)}", rotation="0 0 0")

+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1
+cloud_1

+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2
+cloud_2

+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
+cloud_3
