include _vars.jade

doctype html
html
  include _head.jade
  body
    //- a-scene(stats, fog="type: exponential; color: #{fog}; density: 0.05;", vr-mode-ui="enabled: false")
    a-scene#scene(stats, vr-mode-ui="enabled: false")
      
      include _assets.jade
      
      //- LEVEL ----------------------------------------------------------------

      include _geometries.jade
      include _animations.jade

      //- a-entity(collada-model="#terrain", position="0 0 0")

      a-entity(geometry="primitive: plane; height: 64; width: 64", material="color: #{neutral}", rotation="-90 0 0")

      //- WORLD ----------------------------------------------------------------
      
      //- Lights -----------------------------

      a-light(type="ambient", color="#{lightAmbient}")
      a-light(type="directional", color="#{lightDirectional}", intensity="0.2", position="-1 2 1")
      
      //- Sky --------------------------------
      
      a-sky(color="#{sky}")
      
      //- PLAYER ---------------------------------------------------------------
      
      //- https://github.com/donmccurdy/aframe-extras/tree/master/src/controls#input-devices
      a-entity#player(camera, universal-controls, position="0 1.8 4", rotation="0 0 0")
